#top-bar {
    height: 200px;
    width: 100%;
}

.top-bar-content  {
    text-align: center;
    margin: 30px;
}

#left-bar {
    height: 100%;
    width: 200px;
}

.img-contain {
    border: 3px;
    padding: 10px;
}

#thumbnail-table {
    margin: 0 auto;
    clear: top;
}

#thumbnail-table td {
    display: inline;
}

#thumbnail-table td {
    display: inline-block;
}

#thumbnail-table td div {
    text-align: center;
}

.page-wrapper {
    height: 220px;
    width: 170px;
}

.page-wrapper .selectable img {
    width: 100px;
    border: solid black 1px;
}

.selectable{
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.selected {
    background-color: yellow;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

