<div ng-controller = "MainViewCtrl" ng-init="queryStatus();">
    <div id = "top-bar">
        <div class="top-bar-content">
            <button ng-click = "showHideCopySets()">Show/Hide Print Sets</button></div>

            <div id= "bw-pages-toggle" class = "page-set">
                Black and White: <span id="bw-pages"></span>
                <p>Number of Pages: <span id="bw-page-count"></span></p>
            </div>
            <div id="color-pages-toggle" class = "page-set">
                Color: <span id ="color-pages"></span>
                <p>Number of Pages: <span id="color-page-count"></span></p>
            </div>
        <table class="slider-container">
            <tr>
                <td id="slider-min-percent" class="slider-percent"></td>
                <td id ="slider-range"></td>
                <td id="slider-max-percent" class="slider-percent"></td>
            </tr>
         </table>
        </div>
    <table id="thumbnail-table">
        <tbody>

        </tbody>
    </table>

</div>

