<div ng-controller = "MainViewCtrl" ng-init="queryStatus();">
    <div id = "top-bar">
        <div class="top-bar-content"><button ng-click = "getCopySets()">Click for sets</button></div>
        <div id ="slider-range"></div>

        <p>
            <label for="amount">Auto-BW and Auto-Color Thresholds</label>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
    </div>

    <div id = "left-bar">
    </div>
    <table id="thumbnail-table">
        <tbody>

        </tbody>
    </table>

</div>

