<!DOCTYPE html>
<html lang = "en" ng-app = "pdfColorCounterApp" ng-controller="pageDisplayController">
    <head>
        <meta charset="utf-8">
        <title>UntilIHaveABetterIdea</title>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-resource.min.js"></script>

        <script src="app/javascripts/controllers.js"></script>
        <script src=""app/javascripts/app.js></script>

        <link rel="stylesheet" href="app/assets/app.css">
    </head>

    <body>
        <div ng-view></div>
        <p> wasup</p>
    </body>

</html>